<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- FAVICON -->
        <link rel="shortcut icon" href="../assets/images/favicon.png">

        <!-- FONT -->
        <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
        <link rel='stylesheet'
            href='https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&amp;display=swap'
            type='text/css' />

        <!-- DEFAULT CSS -->
        <link rel='stylesheet' href='../assets/css/helper.css' type='text/css' />

        <!-- CUSTOM CSS -->
        <link rel='stylesheet' href='../assets/css/style-light.css' type='text/css' />
        <link rel='stylesheet' href='../assets/css/style.css' type='text/css' />
        <link rel='stylesheet' href='../assets/css/style-dark.css' type='text/css' />

        <title>{{ Single Blog }} - Soham Sahare</title>

        <style>
            a.comment-reply-link {
                color: #fff;
                border: 1px solid #fff;
            }

            a.comment-reply-link:hover {
                background: #fff;
                color: #18191d;
            }

            a.comment-reply-link {
                color: #212228;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                transition: 0.3s;
                line-height: 1;
                border: 1px solid #212228;
                padding: 10px 15px;
                border-radius: 5px;
                margin-top: -10px;
                position: inherit;
            }

            a.comment-reply-link:hover {
                background-color: #212228;
                color: #fff;
                border: 1px solid #212228;
            }
        </style>

    </head>

    <body
        class="home page-template page-template-page-templates page-template-home-page page-template-page-templateshome-page-php page page-id-47 elementor-default elementor-kit-6">
        <!-- < NAVIGATION WITH BACKGROUND COLOR NAVBAR >............................................ -->
        <!-- removed navbar-toggleable-md because responsive issues. Find out why ..... -->
        <!-- start page-wrapper -->
        <!-- PRELOADER -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader"> <span></span> </div>
            </div>
        </div>
        <!-- Cursor -->
        <div class="cursor js-cursor"></div>
        <!-- Menu -->
        <nav class="sohamsahare-menu" id="sohamsahare-navbar-spy">
            <div class="sohamsahare-menu-inner" id="sohamsahare-navbar">
                <ul class="list-unstyled " id="mobile-menu-active">
                    <li id="menu-item-93"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home nav-item menu-item-93 active">
                        <a title="Home" class=" nav-link" href="/">Home</a>
                    </li>
                    <li id="menu-item-94"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-94"><a
                            title="About" class=" nav-link" href="/about">About</a></li>

                    <li id="menu-item-96"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-96"><a
                            title="Portfolio" class=" nav-link" href="/projects">Projects</a></li>
                    <li id="menu-item-103"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-103"><a
                            title="Blog" class=" nav-link" href="/blogs">Blogs</a></li>
                    <li id="menu-item-95"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-95"><a
                            title="Contact" class=" nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <header class="sohamsahare-header">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-8 col-md-8">
                        <div class="logo-wrap">
                            <a href="/" class="logo">
                                <h1 style="color: black">SOHAM</h1>
                            </a>
                        </div>
                    </div>

                    <!-- Menu Burger -->
                    <div class="col-4 col-md-4 text-right sohamsahare-menu-burger-wrap"> <a href="#"
                            class="sohamsahare-nav-toggle sohamsahare-js-nav-toggle"><i></i></a> </div>
                </div>
            </div>
        </header>
        <section class="section-padding post-page">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-md-12"
                        style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                        <div class="blog-post-categorydate-wrapper">
                            <a>
                                <div>Blog</div>
                            </a>
                            <div class="blog-post-categorydate-divider"></div>
                            <div>Month Date, Year</div>
                        </div>
                        <h1 style="text-align: center;">IA Management System</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"
                        style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="row" style="display: flex; align-items: center; justify-content: center;">
                                <div class="col-md-6">
                                    <div class="vid-area mb-30">
                                        <div class="vid-icon"> <img decoding="async" src="../assets/images/2.jpg"
                                                alt="YouTube">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa porro est earum reiciendis
                                molestiae aliquid non quos tenetur illum aliquam vero ratione tempora suscipit cum,
                                inventore omnis qui iusto ex!</p>
                            <div class="row" style="display: flex; align-items: center; justify-content: center;">
                                <div class="col-md-6">
                                    <div class="vid-area mb-30"
                                        style="display: flex; flex-direction: row; justify-content: space-evenly;">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </section>


        <footer class="sohamsahare-footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Get in touch</h5>
                        <a href="mailto:sohamsahare123@gmail.com">
                            <p>sohamsahare123@gmail.com</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h5>Location</h5>
                        <p>Pune, India</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="sohamsahare-footer-social-link">
                            <li><a href="https://github.com/sohamsahare123" target="_blank"><i
                                        class="ti-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sohamsahare/" target="_blank"><i
                                        class="ti-linkedin"></i></a></li>
                            <li><a href="https://www.facebook.com/soham.sahare.9/" target="_blank"><i
                                        class="ti-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/_soham.sahare/" target="_blank"><i
                                        class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center;">Made with ❤️ by <a href="/contact">Soham Sahare</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- DEFAULT JS -->
        <script type='text/javascript' src='../assets/js/plugins/jquery-3.6.0.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/bootstrap.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/owl.carousel.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/jquery.easing.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/smooth-scroll.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/wow.js'></script>

        <!-- CUSTOM JS -->
        <script type='text/javascript' src='../assets/js/script.js'></script>

    </body>

</html>