<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/images/favicon.png">

        <!-- FONT -->
        <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
        <link rel='stylesheet'
            href='https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&amp;display=swap'
            type='text/css' />

        <!-- DEFAULT CSS -->
        <link rel='stylesheet' href='assets/css/helper.css' type='text/css' />

        <!-- CUSTOM CSS -->
        <link rel='stylesheet' href='assets/css/style-light.css' type='text/css' />
        <link rel='stylesheet' href='assets/css/style.css' type='text/css' />
        <link rel='stylesheet' href='assets/css/style-dark.css' type='text/css' />

        <title>Soham Sahare</title>

    </head>

    <body
        class="home page-template page-template-page-templates page-template-home-page page-template-page-templateshome-page-php page page-id-47 elementor-default elementor-kit-6">
        <!-- < NAVIGATION WITH BACKGROUND COLOR NAVBAR >............................................ -->
        <!-- removed navbar-toggleable-md because responsive issues. Find out why ..... -->
        <!-- start page-wrapper -->
        <!-- PRELOADER -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader"> <span></span> </div>
            </div>
        </div>
        <!-- Cursor -->
        <div class="cursor js-cursor"></div>
        <!-- Menu -->
        <nav class="sohamsahare-menu" id="sohamsahare-navbar-spy">
            <div class="sohamsahare-menu-inner" id="sohamsahare-navbar">
                <ul class="list-unstyled " id="mobile-menu-active">
                    <li id="menu-item-93"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home nav-item menu-item-93 active">
                        <a title="Home" class=" nav-link" href="/">Home</a>
                    </li>
                    <li id="menu-item-94"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-94"><a
                            title="About" class=" nav-link" href="/about">About</a></li>

                    <li id="menu-item-96"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-96"><a
                            title="Projects" class=" nav-link" href="/projects">Projects</a></li>
                    <li id="menu-item-103"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-103"><a
                            title="Blog" class=" nav-link" href="/blogs">Blogs</a></li>
                    <li id="menu-item-95"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-95"><a
                            title="Contact" class=" nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <header class="sohamsahare-header">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-8 col-md-8">
                        <div class="logo-wrap">
                            <a href="/" class="logo">
                                <h1 style="color: black">SOHAM</h1>
                            </a>
                        </div>
                    </div>

                    <!-- Menu Burger -->
                    <div class="col-4 col-md-4 text-right sohamsahare-menu-burger-wrap"> <a href="#"
                            class="sohamsahare-nav-toggle sohamsahare-js-nav-toggle"><i></i></a> </div>
                </div>
            </div>
        </header>
        <section id="home" class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-section-wrap">
                            <div class="header-view-on-mobile">
                                <h1>Soham Sahare</h1>
                                <h6>Creative Web & App Developer</h6>
                            </div>
                            <div class="transform-banner position-relative">
                                <img class="img header-img header-img-left wow imago" src="assets/images/slider3.jpg"
                                    alt="">
                            </div>
                            <div class="header-cont header-cont-right">
                                <div class="header-cont-absolute header-cont-absolute-right">
                                    <div class="header-not-view-on-mobile">
                                        <h1 class="wow" data-splitting>Soham Sahare</h1>
                                        <h6 class="wow" data-splitting>Web Developer & Competitive Programmer</h6>
                                    </div>
                                    <div class="header-cont-text">
                                        <p class="wow" data-splitting>Hi, I’m Soham Sahare and I am web
                                            developer who loves to build things that live on the internet and dream
                                            making
                                            the world better place by creating captivating
                                            products.
                                        </p>
                                    </div>
                                    <div class="btn-wrap text-center">
                                        <div class="btn-link"> <a href="#">Download Resume &nbsp; <i
                                                    class="ti-download"></i></a>
                                            <span class="btn-block color1 animation-bounce"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects" class="homepage-blog section-padding">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-md-12">
                        <h6 class="wow" data-splitting>My recent</h6>
                        <h1 class="wow" data-splitting>Projects.</h1>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-md-6">
                        <div class="img left">
                            <a href="/projects/kooke_s_cafe"><img src="assets/images/projects/ia_management_system2.png"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 valign">
                        <div class="content">
                            <div class="date">
                                <h1 class="wow fadeInUp" data-wow-delay=".2s">1</h1>
                                <h6></h6>
                            </div>
                            <div class="cont">
                                <h5 class="wow fadeInUp" data-wow-delay=".2s"><a href="/projects/kooke_s_cafe">Kooke's
                                        Cafe.</a></h5>
                                <p class="wow fadeInUp" data-wow-delay=".2s"><span>Tech Stack :</span>
                                    React, Node.js, JavaScript, MongoDB, API
                                </p>
                                <div class="btn-wrap">
                                    <div class="btn-link">
                                        <a href="/projects/kooke_s_cafe">Read More <i class="ti-arrow-right"></i></a>
                                        <span class="btn-block color1 animation-bounce"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-md-6 order2 valign">
                        <div class="content">
                            <div class="date">
                                <h1 class="wow fadeInUp" data-wow-delay=".2s">2</h1>
                                <h6></h6>
                            </div>
                            <div class="cont">
                                <h5 class="wow fadeInUp" data-wow-delay=".2s"><a href="/projects/up_learn">Up Learn</a>
                                </h5>
                                <p class="wow fadeInUp" data-wow-delay=".2s"><span>Tech Stack :</span>
                                    Django, SQLite, Jinja, JavaScript, HTML5, CSS3
                                </p>
                                <div class="btn-wrap">
                                    <div class="btn-link"> <a href="/projects/up_learn">Read more <i
                                                class="ti-arrow-right"></i></a> <span
                                            class="btn-block color1 animation-bounce"></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order1">
                        <div class="img left">
                            <a href="/projects/up_learn"><img src="assets/images/projects/up_learn1.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="row mb-30">
                    <div class="col-md-6">
                        <div class="img left">
                            <a href="/projects/voom"><img src="assets/images/projects/voom4.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 valign">
                        <div class="content">
                            <div class="date">
                                <h1 class="wow fadeInUp" data-wow-delay=".2s">3</h1>
                                <h6></h6>
                            </div>
                            <div class="cont">
                                <h5 class="wow fadeInUp" data-wow-delay=".2s"><a href="/projects/voom">VOOM</a></h5>
                                <p class="wow fadeInUp" data-wow-delay=".2s"><span>Tech Stack :</span>
                                    Node.js, Express, MongoDB, WebRTC APIs, JavaScript, HTML5, CSS3
                                </p>
                                <div class="btn-wrap">
                                    <div class="btn-link">
                                        <a href="/projects/voom">Read More <i class="ti-arrow-right"></i></a>
                                        <span class="btn-block color1 animation-bounce"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-content: center;" class="mt-45">
                    <div class="btn-wrap">
                        <div class="btn-link">
                            <a href="/projects">View All Projects <i class="ti-arrow-right"></i></a>
                            <span class="btn-block color1 animation-bounce"></span>
                        </div>

                    </div>
                </div>

            </div>
        </section>


        <footer class="sohamsahare-footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Get in touch</h5>
                        <a href="mailto:sohamsahare123@gmail.com">
                            <p>sohamsahare123@gmail.com</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h5>Location</h5>
                        <p>Pune, India</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="sohamsahare-footer-social-link">
                            <li><a href="https://github.com/sohamsahare123" target="_blank"><i
                                        class="ti-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sohamsahare/" target="_blank"><i
                                        class="ti-linkedin"></i></a></li>
                            <li><a href="https://www.facebook.com/soham.sahare.9/" target="_blank"><i
                                        class="ti-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/_soham.sahare/" target="_blank"><i
                                        class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center;">Made with ❤️ by <a href="/contact">Soham Sahare</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- DEFAULT JS -->
        <script type='text/javascript' src='assets/js/plugins/jquery-3.6.0.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins/bootstrap.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins/owl.carousel.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins/jquery.easing.js'></script>
        <script type='text/javascript' src='assets/js/plugins/smooth-scroll.min.js'></script>
        <script type='text/javascript' src='assets/js/plugins/wow.js'></script>

        <!-- CUSTOM JS -->
        <script type='text/javascript' src='assets/js/script.js'></script>

    </body>

</html>